@use '../global-variables.scss' as *;


.content {
    width: 80vw;
    margin: 0 auto;

    //Desktop
    @media (min-width: 1024px) {
        width: 50vw;
    }

    h2 {
        font-size: 5rem;
        font-family: $title;
        text-decoration-line: underline;
        color: $accent-color;
        margin: 1rem auto;
        display: block;
        text-align: center;

        //desktop
        @media (min-width: 1024px) {
            font-size: 3rem;
        }
    }

    p {
        font-family: $mono;
        font-size: 2rem;
        margin: 1rem auto;
        padding: 0;

        //desktop
        @media (min-width: 1024px) {
            font-size: 1rem;
        }
    }

    img {
        height: 500px;
        width: auto;
        float:left;

        //Desktop
        @media (max-width: 1024px) {
            display: none !important;
        }
    }



}