@use '../global-variables.scss' as *;

.layout {
    header {
        background-color: $secondary-color;
        margin-top: 0;
        border-bottom: 0.5rem solid $primary-color;
        border-radius: 0 0 2rem 2rem;
        padding: 1rem;

        position: relative;
        width: 100vw;

        h1 {
            color: $accent-color;
            display: block;
            font-size: 4rem;
            margin: 10px auto;
            text-align: center;
            font-family: $title;
            text-decoration-line: underline;
        }

        ul {

            list-style-type: none;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            width: 100%;
            margin: 0;
            padding: 0;

            li {
                margin: 0 1rem;
                font-size: 2rem;
                font-family: $mono;
                a {
                    color: $primary-color;
                    text-decoration: none;
                    border: 0.2rem solid $primary-color;
                    border-radius: 0.5rem;
                    padding: 0.5rem;
                    &:hover {
                        color: $accent-color;
                        border: 0.2rem solid $accent-color;
                    }
                }
            }
        }
    }

    main {
        padding: 1rem;
        height: 70vh;
    }

    footer {
        display: block;
        width: 100vw;
        margin: 0;

        padding: 1rem;
        background-color: $secondary-color;
        color: $accent-color;
        border-radius: 2rem;
        border-top: 0.5rem solid $primary-color;

        p {
            font-size: 1.5rem;
            display: block;
            margin: 0;
            width: 100%;
            text-align: center;
            font-family: $mono;
        }

        .links {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            width: 30%;
            margin: 0 auto;
            margin-bottom: 2rem;
            padding: 0;

            a {
                img {
                    width: 2rem;
                    height: 2rem;
                }

                margin: 0 1rem;
            }
        }


    }
}