// ----------------------------------Fontes----------------------------------
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Pacifico&family=Roboto+Mono&display=swap');

$text: 'Inconsolata', monospace;
$title: 'Pacifico', cursive;
$mono: 'Roboto Mono', monospace;

// -----------------------------------Cores-----------------------------------
$primary-color:#161111;
$secondary-color:#fcffe3;
$accent-color:#58b078;
$color3:#36482d;
