// ----------------------------------Fontes----------------------------------
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Pacifico&family=Roboto+Mono&display=swap');

$text: 'Inconsolata', monospace;
$title: 'Pacifico', cursive;
$mono: 'Roboto Mono', monospace;

// -----------------------------------Cores-----------------------------------
$primary-color:#483838;
$secondary-color:#D2D79F;
$accent-color:#42855B;
$color3:#90B77D;
