// ----------------------------------Fontes----------------------------------
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Pacifico&family=Roboto+Mono&display=swap');

$text: 'Inconsolata', monospace;
$title: 'Pacifico', cursive;
$mono: 'Roboto Mono', monospace;

// -----------------------------------Cores-----------------------------------
$primary-color:#161111;
$secondary-color:rgba(255, 255, 255, 0.82);
$accent-color:#F25E0F;
$color3:#36482d;
$page-background1:rgb(255, 179, 1);
$page-background2:rgb(205, 144, 2);
