<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>
    <title>PetShop - Login</title>
</head>
<body>
    <body class="">

        <div class="container">
    
            
            <div class="row justify-content-center">
    
                <div class="col-xl-10 col-lg-12 col-md-9">
    
                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body p-0">
                            <img src="" >
                            <div class="row">
                                <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                                <div class="col-lg-6">
                                    <div class="p-5">
                                        <div class="text-center">
                                            <h1 class="h4 text-gray-900 mb-4">Seja bem vindo!</h1>
                                        </div>
                                        <form class="user" action="/logar" method="POST">
                                            <div class="form-group">
                                                <input type="email" class="form-control form-control-user"
                                                    id="email" name="email" aria-describedby="emailHelp"
                                                    placeholder="Digite o seu email">
                                            </div>
                                            <div class="form-group">
                                                <input type="password" name="senha" class="form-control form-control-user margin-soft"
                                                    id="senha" placeholder="Digite sua senha">
                                            </div>
                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox small">
                                                    <input type="checkbox" class="custom-control-input" id="lembrar" name="lembrar">
                                                    <label class="custom-control-label" for="lembrar">Lembrar-se</label>
                                                </div>
                                            </div>
    
                                            <!--<div th:if="${erro != null}" th:text="${erro}" class="alert alert-danger" role="alert"></div>-->
    
                                            <button class="btn btn-primary btn-user btn-block">
                                                Login
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>